//base.css

// 타이틀 폰트
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

// 메뉴 폰트
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'SOYOMapleBoldTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

// 로고 폰트
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lilita+One&display=swap');

// 일반 폰트
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lilita+One&family=Noto+Sans+KR:wght@100..900&display=swap');


$baseFont:'Pretendard Variable', Pretendard, "Noto Sans KR", arial, sans-serif;
$baseFontSize:20px;
$baseColor:#333;

body{
  font-family:$baseFont;
  font-size:$baseFontSize;
  color:$baseColor;
}

a{
  color:$baseColor;
  font-size:$baseFontSize;
  text-decoration:none;
}